# Data Aggregation

**Objective:** Aggregate all relevant data into a unified dataset

In [1]:
# Import modules
import pandas as pd
import numpy as np
from utils import display_df_info

## Load Data

In [2]:
playtime = pd.read_csv('../data/playtime-cleaned.csv')
display_df_info(playtime, 'Playtime')

### Playtime

              Dtype Null Count   Total % Null
user_id       int64          0  71,046   0.0%
game_title   object          0  71,046   0.0%
hours       float64          0  71,046   0.0%
norm_title   object          0  71,046   0.0%
app_id      float64      7,555  71,046  10.6%

,user_id,game_title,hours,norm_title,app_id
0,5250,Alien Swarm,4.9,alien swarm,630.0
1,5250,Cities Skylines,144.0,cities skylines,255710.0
2,5250,Deus Ex Human Revolution,62.0,deus ex human revolution,238010.0
3,5250,Dota 2,0.2,dota 2,570.0
4,5250,Portal 2,13.6,portal 2,620.0

In [3]:
categories = pd.read_csv('../data/categories.csv')
display_df_info(categories, 'Categories')

### Categories

           Dtype Null Count    Total % Null
app_id     int64          0  522,582   0.0%
category  object          0  522,582   0.0%

   app_id                 category
0      10           Family Sharing
1      10             Multi-player
2      10               Online PvP
3      10                      PvP
4      10  Shared/Split Screen PvP

In [4]:
genres = pd.read_csv('../data/genres.csv')
display_df_info(genres, 'Genres')

### Genres

         Dtype Null Count    Total % Null
app_id   int64          0  353,339   0.0%
genre   object          0  353,339   0.0%

   app_id   genre
0      10  Action
1      20  Action
2      30  Action
3      40  Action
4      50  Action

In [5]:
tags = pd.read_csv('../data/tags.csv')
display_df_info(tags, 'Tags')

### Tags

         Dtype Null Count      Total % Null
app_id   int64          0  1,744,632   0.0%
tag     object          0  1,744,632   0.0%

   app_id       tag
0      10     1980s
1      10    1990's
2      10    Action
3      10  Assassin
4      10   Classic

## Aggregate

In [ ]:
# Check

(71046, 5)